div.form-question {
    border: 2px solid #e2e8f0;
}
.tab-content {
    border: 2px solid #e2e8f0;
    padding: 20px;
    border-radius: 5px;
}

.table.items4 thead {
    background: #1f293b;
}
.table.items4 thead th {
    color: #ffffff;
}