html, body, form, fieldset, table, tr,f td, img, span.menu-text, span.sub-menu-text {
     font-family: 'Open Sans', sans-serif;
}
 li a i.menu-icon {
     margin-right: 16px;
     display: block;
     float: left;
     width: 18px;
     font-size: 18px;
}
 a, input, button, select, textarea, option, div {
     font-family: 'Open Sans', sans-serif;
}
 input[type="radio"]:focus {
     outline: none !important;
}
 ::placeholder {
     color: #c7c7c7 !important;
}
 .fa-balance-scale:before {
     margin-left: -2px;
}
 .started-timers-top .top-dropdown-btn {
     font-size: 16px;
}
 .bg-success {
     background-color: #07cc04;
}
 .label-danger .fa-clock-o {
     color: #ffffff;
}
 .label-big, .s-status {
     border: none !important;
     background: #f9f9f9;
}
 .checkbox.checklist-checkbox input:checked+label:after {
     width: 20px;
     height: 20px;
}
 .checkbox.checklist-checkbox label::after {
     margin-left: -21px;
     padding-left: 4px;
     padding-top: 2px;
     font-size: 11px;
}
 .notification_link:hover {
     color: #764abc;
}
 .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
     background-color: #f6f3ff;
}
 #menu ul::-webkit-scrollbar {
     width: 1px !important;
     background-color: #ffffff;
}
 #menu ul::-webkit-scrollbar-thumb {
     background-color: #764abc;
}
 .text-uppercase, #side-menu li a {
     text-transform: unset;
}
 body {
     background-color: #ffffff;
     overflow-x: hidden;
}
 body.hide-sidebar:not(.show-sidebar) #menu {
     margin-left: -270px;
}
 #header .fa-bars:before, #header .fa-navicon:before, #header .fa-reorder:before {
     font-size: 150% !important;
     color: #5e42c5;
     -webkit-text-stroke: 2px white;
     content: "\f0c9";
}
 body.hide-sidebar #header {
     left: 0px;
     width: auto;
}
 body.page-small #header {
     width: 100%;
}
 body.page-small #wrapper {
     left: 0;
     width: auto;
}
 body.page-small.show-sidebar #menu {
     margin-left: 0;
}
 body.page-small.show-sidebar #wrapper {
     margin-left: 210px;
}
 #wrapper {
     background: url(../../../flat_admin_theme/assets/css/images/patternbg.jpg);
     margin: 0 0 0 270px;
     background-repeat: repeat;
     box-shadow: inset 0 0.46875rem 2.1875rem rgba(4,9,20,0.05), inset 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), inset 0 0.25rem 0.53125rem rgba(4,9,20,0.05), inset 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
 #wrapper .content .progress-bar-mini {
     height: 10px !important;
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;
}
 #menu i::before {
     font-weight: 300;
     color: #9274c3;
}
 .bg-stripe {
     background: #f9f9f9;
     border: 1px solid #f9f9f9;
}
 body .mobile-menu i.fa.fa-chevron-down:before {
     color: #5767a2;
}
 #menu, #setup-menu-wrapper {
     position: fixed;
     top: 0;
     height: 100vh;
     width: 270px !important;
     z-index: 999;
}
 #setup-menu-wrapper {
     z-index: 9999;
}
 #setup-menu li a {
     color: #764abc !important;
}
 i.fa.fa-close:hover {
     color: #000 !important;
}
 #setup-menu-wrapper .fa-close {
     font-size: 120%;
}
 .close-customizer {
     margin-left: -20px !important;
}
 #setup-menu-wrapper .fa-close:before, #setup-menu-wrapper .fa-remove:before, #setup-menu-wrapper .fa-times:before {
     content: "\f137";
}
 #side-menu li.quick-links .dropdown-menu:before {
     border-bottom-color: #764abc !important;
}
 a:hover, a:focus {
     outline: unset;
     color: #8c70b9;
}
 .text-info, a, ul.search-results a {
     color: #764abc;
}
 .progress-bar-danger {
     background-color: #fd5262;
}
 .pagination>.active>a {
     background: #764abc;
     border-color: #764abc;
}
 .pagination>li>a {
     color: #764abc;
}
 .pagination>li>a:hover {
     color: #764abc;
}
 .table .alert-info {
     color: #764abc;
}
 .table thead tr th:first-child, .table thead tr th:last-child, table.dataTable thead>tr>th, .table>thead>tr>th {
     border: none !important;
}
 .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
     color: #fff;
     background-color: #9371ca;
     border-color: #9371ca;
}
 #header .fa-search:before, #header .fa-share:before, #header .fa-check-square-o:before {
     color: #764abc;
}
 #header .fa-clock-o:before, #header .fa-bell-o:before {
     color: #764abc;
}
 #wrapper > .content > .row {
     margin-top: 20px !important;
}
 @media (min-width: 801px) {
     body.small-table .small-table-right-col.col-md-7 {
         padding-left: 15px;
    }
}
 @media (min-width: 768px) {
     body.show-sidebar #wrapper {
         overflow-y: initial;
    }
     .navbar-right .dropdown-menu {
         right: -4px;
         left: auto;
    }
}
 @media (max-width: 735px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
     .horizontal-scrollable-tabs {
         min-height: 50px;
         margin-top: 2px;
    }
     #wrapper .btn-bottom-toolbar {
         bottom: 0;
    }
     .panel-full {
         margin-left: -23px;
    }
     .btn-bottom-toolbar {
         right: -7px;
         bottom: 20px;
    }
     #setup-menu-wrapper {
         height: 67vh;
         max-height: 100vh;
         min-height: 67vh;
    }
     #side-menu li.quick-links {
         position: relative;
         margin-top: -41px;
    }
     body.show-sidebar #wrapper {
         overflow-y: initial;
    }
}
 @media (max-width: 667px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
}
 @media (max-width: 640px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
}
 @media (max-width: 568px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
}
 @media (max-width: 414px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
}
 @media (max-width: 375px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
}
 @media (max-width: 320px) {
     #menu, #setup-menu-wrapper {
         left: 0;
    }
     #wrapper .btn-bottom-toolbar {
         bottom: 0;
         left: 0px;
         min-width: 100%;
    }
}
 .btn-bottom-pusher {
     display: none;
}
 .navbar-pills.navbar-pills-flat.nav-tabs>li>a, .navbar-pills.navbar-pills-flat.nav-tabs>li:first-child>a {
     border-top: none;
     border-left: none;
}
 .table .alert-info {
     color: #7d6cbb !important;
     background-color: #fffcff !important;
     border-color: #7d6cbb !important;
}
 button.btn.btn-default.p8 {
     background: #4a4a4a;
     color: #fff;
     border: 1px solid #4a4a4a !important;
}
 #setup-menu li>a.close-customizer:hover {
     background: none !important;
}
 .bootstrap-select .btn-default {
     background: #f9f9f9!important;
}
 #wrapper .btn-info:hover {
     background-color: #965fef;
     border: 1px solid #965fef;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}
 .text-right .btn.btn-default {
     color: #000;
     padding: 7px;
}
 body.hide-sidebar .btn-bottom-toolbar {
     min-width: auto;
}
 #wrapper .btn-bottom-toolbar {
     padding: 15px;
     background: transparent;
     width: auto;
     z-index: 5;
     margin: 0 auto;
     right: 45px;
     border: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
}
 .menu-text {
     font-weight: 600;
     color: #000;
}
 .dashboard .content {
     padding: 30px 30px 0px 40px;
}
 .screen-options-area {
     background: #ffffff;
     margin-top: 18px;
     margin-left: 20px;
     width: calc(100% - 46px);
     height: 100%;
     -webkit-box-shadow: none !important;
     border: none !important;
}
 .screen-options-btn {
     margin-top: 11px;
     left: 40px;
     width: 150px;
     background: none !important;
     -webkit-box-shadow: 0 1px 0 #9480dd;
     box-shadow: 0 1px 0 #9480dd;
     border-bottom-left-radius: 0px !important;
     border-bottom-right-radius: 0px !important;
}
 body.dashboard div[data-container="top-12"] {
     margin-top: 0 !important;
}
 #top_search ul.dropdown-menu {
     border-color: transparent !important;
     box-shadow: unset;
     width: 100%;
}
 .alert-info, .fadeInRight.alert.alert-info {
     color: #004085;
     background-color: #cce5ff;
     border-color: transparent;
}
 .alert-warning, .fadeInRight.alert.alert-warning {
     color: #856404;
     background-color: #fff3cd;
     border-color: #ffeeba;
}
 .alert-secondary, .fadeInRight.alert.alert-secondary {
     color: #383d41;
     background-color: #e2e3e5;
     border-color: #d6d8db;
}
 .fadeInRight.alert.alert-success {
     color: #155724;
     background-color: #a4e4b4;
     border-color: #c3e6cb;
}

 #side-menu > li.pinned_project.active > a {
     background: rgba(86, 47, 150, 0.2) !important;
     margin-bottom: 5px;
}

 #side-menu > li.pinned_project.active > a:hover {
     background: rgba(86, 47, 150, 0.5) !important;
     margin-bottom: 5px;
}

 #side-menu > li.pinned_project > a {
     background: rgba(86, 47, 150, 0.2) !important;
     margin-bottom: 5px;
     color: #fff;
     border-radius: 10px;
}

 #side-menu > li.pinned_project:not(.active)> a:hover {
     background: rgba(86, 47, 150, 0.5) !important;
     margin-bottom: 5px;
     color: #fff;
     border-radius: 10px;
}

 .pinned-separator {
    border-bottom: 2px solid #9274c3!important;
    margin: 20px 0px 20px 0px !important;
}

 #side-menu.nav>li.pinned_project:last-child {
     border: none;
}

 #wrapper .label {
     font-size: 13px;
}

 body .label-info {
     border: 1px solid #764abc;
     color: #764abc;
}
 #wrapper label {
     font-size: 13px;
}
 #wrapper small {
     font-size: 10px;
}
 .ribbon.info span {
     background: #593c88;
}
 .ribbon.info span:after {
     border-right: 3px solid #593c88;
     border-top: 3px solid #593c88;
}
 .ribbon.info span:before {
     border-left: 3px solid #593c88;
     border-top: 3px solid #593c88;
}
 #wrapper th::after {
     color: #9480dd;
}
 #wrapper th {
     background: #f9f9f9;
     color: #3c3939 !important;
}
 .dropzone .dz-message {
     color: #764abc;
}
 div.dataTables_wrapper div.dataTables_length select, .dt-buttons.btn-group .btn, .input-group-addon {
     color: #848484 !important;
}
 .dataTables_length select, .uneditable-input, input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select.form-control, textarea.form-control {
     border: 1px solid #f2f2f2 !important;
}
 .dataTables_empty {
     background: url(images/table-no-data.png) center center / auto 161px no-repeat;
}
 .flat_admin_theme_initiated table.dataTable thead tr>th, .table.dataTable>thead:first-child>tr:first-child>th {
     color: #4e75ad;
}
 body.flat_admin_theme_initiated #wrapper table>thead>tr>th {
     background: #e2e2e2;
}
 .panel_s .panel_body p {
     color: red;
}
 .onoffswitch-checkbox:checked+.onoffswitch-label {
     background-color: #07cc04;
     border-color: #d6d2d2;
}
 .text-muted {
     color: #808080;
}
 .text-danger {
     color: #fd5262;
}
 .nav-tabs:not(.chat_nav) {
     background: #ffffff;
}
 .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:visited {
     background: #ffffff;
     color: #bb90ff;
}
 body .pagination>li:last-child>a, .pagination>li:last-child>span, body .pagination>li:first-child>a, .pagination>li:first-child>span, body .dropdown-menu>li:first-child>a, body .dropdown-menu>li:last-child>a, #wrapper .input-group-addon, body .xdsoft_datetimepicker, body .dropdown-menu, #wrapper .label, #wrapper .dropdown-menu.open, #wrapper ul.dropdown-menu {
     border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     -ms-border-radius: 0px !important;
     -o-border-radius: 0px !important;
}
 .dropdown-menu>.active>a:hover {
     background: #764abc;
}
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
     color: #764abc;
     border-bottom-color: #764abc;
}
 #wrapper .btn, #wrapper textarea, #wrapper input, #wrapper div.label, #wrapper .bootstrap-select .dropdown-menu li, #wrapper select {
     border-radius: 0px;
}
 #wrapper .btn-bottom-toolbar .btn-info {
     border-radius: 50px;
     -webkit-box-shadow: 0 2px 30px 2px rgba(0,0,0,.2) !important;
     box-shadow: 0px 2px 10px 2px rgba(0,0,0,.2) !important;
}
 #wrapper .btn-bottom-toolbar .btn-info:hover {
     -webkit-box-shadow: 0 2px 30px 2px rgba(0,0,0,.1) !important;
     box-shadow: 0px 2px 10px 2px rgba(0,0,0,.1) !important;
}
 .btn-info {
     background-color: #764abc;
}
 .btn-info:focus, .btn-info.focus, .btn-info:hover, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info, .btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
     background-color: #764abc;
     color: #fff;
     border: 1px solid #764abc;
}
 .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
     background-color: #764abc;
     color: #fff;
     border-color: #764abc;
}
 .btn-info {
     border-color: #764abc;
}
 .btn-success {
     background-color: #07cc04;
}
 .success-bg {
     background: #07cc04 !important;
     color: #fff !important;
     border: 1px solid #07cc04 !important;
}
 .btn-success:focus, .btn-success.focus, .btn-success:hover, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success, .btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
     background-color: #00a200;
     color: #fff;
     border-color: #00a200 
}
 .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
     background-color: #41ff3d;
     color: #fff;
     border-color: #41ff3d;
}
 .btn-success {
     border-color: #07cc04;
}
 .btn-danger {
     background-color: #ef4848;
}
 .btn-danger:focus, .btn-danger.focus, .btn-danger:hover, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger, .btn-danger:active:hover, .btn-danger.active:hover, .open>.dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open>.dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open>.dropdown-toggle.btn-danger.focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
     background-color: #e63939;
     color: #fff;
     border-color: transparent;
}
 .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
     background-color: #ff3232;
     color: #fff;
     border-color: #ff3232;
}
 .dataTables_length select:focus, .uneditable-input:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=file]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select.form-control:focus, textarea.form-control:focus {
     border-color: #b796ea;
}
 table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
     opacity: 0.8;
}
 .btn-danger {
     border-color: #ff0000;
}
 #top_search {
     margin-right: 17px;
}
 #top_search input:active, #top_search input:focus, #top_search input:hover {
     color: #232121;
     background: rgba(199, 198, 198, 0.1);
}
 .admin #side-menu, .admin #setup-menu {
     overflow-y: scroll;
     background: url(../../../flat_admin_theme/assets/css/images/menubg.jpg);
     height: 100vh;
     max-height: 100vh;
     padding: 0px 25px 0px 25px;
     background-position: center;
     background-size: cover;
}

.admin #side-menu::-webkit-scrollbar, .admin #setup-menu::-webkit-scrollbar {
    display: none;
}

 #setup-menu li:first-child {
     border-bottom: 0px;
}
 .projects .dropdown-menu.open {
     -webkit-border-top-left-radius: 9px;
     border-top-left-radius: 9px;
     -webkit-border-top-right-radius: 9px;
     border-top-right-radius: 9px;
     border: 0px;
}
 .bg-warning {
     background-color: #fb5100;
}
 #side-menu .arrow {
     font-size: 16px;
     color: #a87eea;
     margin-top: -2px;
}
 .panel-full {
     -webkit-box-shadow: unset;
     box-shadow: unset;
     margin-top: 1px;
     width: calc(100% - -23px);
     padding-left: 25px;
}
 .panel-body.bottom-transaction {
     background: #f9f9f9;
}
 .nav-tabs {
     border: 0;
}
 .horizontal-scrollable-tabs .scroller {
     border: 0;
}
 .bootstrap-select li.selected.active a {
     background: #764ABC;
}
 .bootstrap-select .dropdown-menu li.active small {
     color: #333 !important;
}
 .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
     background: #f9f9f9;
}
 .table.items .main {
     background-color: #fbfbfb;
}
 .bootstrap-select .dropdown-menu>li:first-child>a {
     background: #f9f9f9;
     color: #333;
}
 .bootstrap-select .status {
     background: #f9f9f9;
}
 #side-menu li.active, li .nav-second-level li {
     background: transparent !important;
}
 .inner.open {
     width: auto;
}
 .admin #side-menu li .nav-second-level li, .admin #setup-menu li .nav-second-level li {
     background: #ffffff;
     padding-left: 4px;
}
 ul#side-menu li {
     margin-bottom: 5px;
}
 .admin #side-menu li .nav-second-level li, .admin #setup-menu li .nav-second-level li {
     margin-bottom: 0px !important;
}
 .admin #side-menu li a, .admin #setup-menu li a {
     color: #000000;
     text-transform: unset;
     padding: 8px 16px 8px 16px;
}
 #side-menu li.dashboard_user {
     color: #764abc;
     margin-top: 10px;
     font-style: italic;
}
 #side-menu li.menu-item-dashboard {
     margin-top: 20px;
}
 #side-menu li .nav-second-level a:hover {
     background-color: transparent;
}
 #side-menu li .nav-second-level li:not(.active) a:hover {
     color: #764abc;
}
 #setup-menu li>a.active, #setup-menu li>a:active, #setup-menu li>a:focus, #setup-menu li>a:hover {
     background: #f2f2f2 !important;
     border-radius: 10px;
}
 li.menu-item-finance.active .fa {
     color: #764abc !important;
}
 .info-bg {
     background: #764abc !important;
     color: #fff !important;
     border: 1px solid #764abc !important;
}
 #side-menu.nav>li:not(.active)>a:hover {
     background-color: transparent;
     color: #fff !important;
}
 .admin #setup-menu li.active>a, #side-menu.nav>li>a:focus, #setup-menu>li>a:focus {
     color: #ffffff !important;
     border-radius: 10px;
}
 #side-menu li.active>a {
     border-radius: 10px;
     background: #f2f2f2 !important;
}
 #side-menu.nav>li>a:hover {
     background: #f2f2f2 !important;
     border-radius: 10px;
}
 #setup-menu-wrapper span.sub-menu-text:before {
     background: none !important;
}
 #setup-menu-wrapper .nav-second-level .active {
     font-weight: 600;
}
 #setup-menu-wrapper {
     overflow: hidden !important;
     box-shadow: none !important;
}
 #setup-menu .arrow, #side-menu .arrow {
     color: #764abc;
}
 i.fa.fa-gavel {
     display: none;
}
 .admin #side-menu li .nav-second-level li.active a, .admin #setup-menu li .nav-second-level li.active a {
     background: none !important;
     color: #764abc !important;
}
 #setup-menu li .nav-second-level li a.active, #setup-menu li .nav-second-level li a:hover {
     background-color: transparent;
     color: #ffffff;
}
 #setup-menu > li.menu-item-leads.active > ul > li > a {
     background: transparent !important;
}
 .btn {
     font-size: 13px;
}
 .admin #side-menu li .nav-second-level li a, #setup-menu li .nav-second-level li a {
     color: #080000;
}
 #setup-menu .nav-second-level li a:hover {
     color: #764abc !important;
}
 #setup-menu li .nav-second-level li a:hover {
     color: #764abc;
}
 .panel_s>.panel-heading {
     font-weight: 500;
     background: #ffffff;
     margin-bottom: 12px;
}
 #wrapper .p8-half {
     padding: 7.5px;
}
 #header {
     background: #ffffff;
     opacity: 1;
     -webkit-transition: all .5s ease 0s;
     transition: all .5s ease 0s;
     position: relative;
     left: 260px;
     height: 62px;
     width: calc(100% - 205px);
}
 .navbar-nav.navbar-right {
     margin-right: 56px;
}
 #header .timer i.fa.fa-clock-o:before {
     color: red;
}
 #header .timer a:hover>i.fa.fa-clock-o:before {
     color: white;
}
 .admin .navbar-nav>li>a, ul.mobile-icon-menu>li>a, .mobile-menu-toggle, .open-customizer-mobile {
     color: #000000;
}
 .customer-profile-tabs {
     margin-top: -15px;
}
 .hr-panel-heading {
     margin-left: -5px;
     margin-right: -5px;
}
 #side-menu li.quick-links .open>.dropdown-menu {
     margin-left: 19px;
}
 #side-menu li.quick-links .dropdown-menu:before {
     border-bottom-color: #28b8da;
}
 .navbar-nav>li>.dropdown-menu.notifications {
     margin-top: 1px;
}
 #wrapper .input-group-addon, .input-group {
     background: #fff;
     border-color: #f2f2f2;
}
 .fa.fa-calendar {
     color: #764abc;
}
 .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
     background: #764abc;
}
 #top_search input {
     color: #000000;
     height: 61px;
     border: none !important;
}
 .hide-menu {
     color: #000000;
}
 .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
     border: none !important;
}
 .admin #side-menu li .nav-second-level li.active a .sub-menu-text:before {
     display: none;
}
 .btn.btn-default {
     border:none !important;
     background-color: #ffffff;
}
 .btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
     color: #ffffff;
     background-color: #f9f9f9;
     border: none;
}
 #wrapper .btn.btn-default i::before {
     color: #000000;
}
 .modal-header {
     background: #764abc;
     background: linear-gradient(to right, #6c42af 0, #6c48a5 37%, #765ca0 100%);
}
.modal-header .modal-title {
    color: #ffffff;
}
 .modal.fade.in {
     background: #000000ad;
}
 .modal-header, .modal-content, .modal-footer {
     border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     -ms-border-radius: 0px !important;
     -o-border-radius: 0px !important;
}
 .modal-header .close {
     color: #ffffff;
}
 .modal-dialog button.close[data-dismiss="modal"] span {
     position: absolute;
     right: 27px;
     top: 19px;
     font-size: 19px;
}
 .widget-dragger {
     color: #cbc2ec;
     left: -25px !important;
}
 .panel_s .panel-body, .panel_s {
     border-radius: 0 !important;
     border: none;
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     -ms-border-radius: 0 !important;
     -o-border-radius: 0 !important;
     border-radius: .25rem;
}
 .panel_s .panel-body {
     -webkit-box-shadow: 0 2px 30px 2px rgba(0,0,0,.1) !important;
     box-shadow: 0px 2px 30px 2px rgba(0,0,0,.1) !important;
}
 .user-data .home-activity .nav-tabs>li.active>a, .user-data .home-activity .nav-tabs>li.active>a:focus, .user-data .home-activity .nav-tabs>li.active>a:hover, .user-data .home-activity .nav-tabs>li>a:focus, .user-data .home-activity .nav-tabs>li>a:hover {
     color: #764abc !important;
}
 #setup-menu-wrapper::-webkit-scrollbar {
     width: 5px !important;
     background-color: #ffffff;
}
 #setup-menu-wrapper::-webkit-scrollbar-thumb {
     background-color: #d7dce2;
}
 .notification-box-all.unread, .notification-box.unread {
     background: #ffffff;
     padding: 10px 0px 10px 20px;
     border-bottom: 1px solid #f9f9f9;
}
 .notifications .not_mark_all_as_read {
     background: #5e42c5;
     border-bottom: 1px solid #ede8ff;
}
 .notifications .not_mark_all_as_read > a {
     color: #ffffff;
}
 .notifications .not_mark_all_as_read > a:hover {
     color: #dcd2ff;
}
 ul.dropdown-menu.notifications.animated.fadeIn.width400 {
     border: none !important;
}
 ::-webkit-scrollbar {
     width: 10px !important;
     height: 10px !important;
}
 ::-webkit-scrollbar-thumb {
     background-color: #444;
}
 ::-webkit-scrollbar-track {
     background-color: #ffffff;
}
 .kan-ban-content {
     background: #f9f9f9;
}
 .has-error .form-control:focus, .has-error .form-control {
     border-color: #fb0502 !important;
     box-shadow: unset !important;
}
 .profile .text-muted {
     color: #000 !important;
}
 .profile .total-column .panel-body, .staff.member .total-column .panel-body {
     background: #ffffff !important;
}
 .profile .panel_s {
     -webkit-box-shadow: unset;
     box-shadow: unset;
}
 .todo-title {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
 .fn-gantt .leftPanel .name, .fn-gantt .navigate .nav-link {
     background: #764abc !important;
     color: #ffffff !important;
     font-size: 10px;
     padding: 0px;
}
 #menu ul li a {
     font-size: 14px;
}
 span.sub-menu-text:before {
     content: '';
     height: 100%;
     opacity: 1;
     width: 2px;
     background: #9274c3;
     position: absolute;
     left: 20px;
     top: 0;
     border-radius: 15px;
}
 #menu ul li a span.sub-menu-text, #setup-menu span.sub-menu-text {
     font-size: 14px;
}
 #wrapper .top_stats_wrapper {
     border-radius: 0px;
     border: 0px !important;
     -webkit-box-shadow: 0 2px 30px 2px rgba(0,0,0,.1) !important;
     box-shadow: 0px 2px 30px 2px rgba(0,0,0,.1) !important;
}
 #setup-menu-wrapper {
     -webkit-box-shadow: 0px 3px 3px 0px #cac7c7;
     box-shadow: 0px 3px 3px 0px #cac7c7;
}
 .waves-effect {
     position: relative;
     cursor: pointer;
     display: inline-block;
     overflow: hidden;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-tap-highlight-color: transparent 
}
 .waves-effect .waves-ripple {
     position: absolute;
     border-radius: 50%;
     width: 100px;
     height: 100px;
     margin-top: -50px;
     margin-left: -50px;
     opacity: 0;
     background: rgba(0, 0, 0, .2);
     background: -webkit-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
     background: -o-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
     background: -moz-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
     background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
     -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
     -o-transition: all .5s ease-out;
     transition: all .5s ease-out;
     -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property: -moz-transform, opacity;
     -o-transition-property: -o-transform, opacity;
     transition-property: transform, opacity;
     -webkit-transform: scale(0) translate(0, 0);
     -moz-transform: scale(0) translate(0, 0);
     -ms-transform: scale(0) translate(0, 0);
     -o-transform: scale(0) translate(0, 0);
     transform: scale(0) translate(0, 0);
     pointer-events: none 
}
 .waves-effect.waves-light .waves-ripple {
     background: rgba(255, 255, 255, .4);
     background: -webkit-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
     background: -o-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
     background: -moz-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
     background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%) 
}
 .waves-effect.waves-classic .waves-ripple {
     background: rgba(0, 0, 0, .2) 
}
 .waves-effect.waves-classic.waves-light .waves-ripple {
     background: rgba(255, 255, 255, .4) 
}
 .waves-notransition {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -o-transition: none !important;
     transition: none !important 
}
 .waves-button, .waves-circle {
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%) 
}
 .waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited {
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     border: none;
     outline: 0;
     color: inherit;
     background-color: rgba(0, 0, 0, 0);
     font-size: 1em;
     line-height: 1em;
     text-align: center;
     text-decoration: none;
     z-index: 1 
}
 .waves-button {
     padding: .85em 1.1em;
     border-radius: .2em 
}
 .waves-button-input {
     margin: 0;
     padding: .85em 1.1em 
}
 .waves-input-wrapper {
     border-radius: .2em;
     vertical-align: bottom 
}
 .waves-input-wrapper.waves-button {
     padding: 0 
}
 .waves-input-wrapper .waves-button-input {
     position: relative;
     top: 0;
     left: 0;
     z-index: 1 
}
 .waves-circle {
     text-align: center;
     width: 2.5em;
     height: 2.5em;
     line-height: 2.5em;
     border-radius: 50% 
}
 .waves-float {
     -webkit-mask-image: none;
     -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
     box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
     -webkit-transition: all .3s;
     -moz-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s 
}
 .waves-float:active {
     -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3);
     box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3) 
}
 .waves-block {
     display: block 
}
 .nanobar {
     width: 100%;
     height: 0px;
     z-index: 100;
     top: 0;
     background: #fff;
}
 .bar {
     width: 0;
     height: 100%;
     transition: height .3s;
     background: #764abc;
     height: 4px;
}
 #wrapper #group_by_tasks_wrapper span {
     left: -96px !important;
}
 input[type="radio"]:checked+label:after, input[type="checkbox"]:checked+label:after, .radio-primary input[type=radio]+label::after {
     background: #764abc !important;
     color: #033450;
}
 .dataTables_length select {
     padding-top: 8px !important;
}
 input[type="checkbox"]:checked+label:after {
     width: 18px;
     height: 18px;
     -webkit-border-radius: 2px;
     border-radius: 2px;
     color: #ffffff;
}
 input[type=radio]:checked+label::before {
     border-color: #764abc !important;
}
 .input-group-addon .checkbox label::after {
     padding: 3px;
}
 tr th:first-child input[type="checkbox"]:checked+label:after {
     background: #ffffff !important;
     color: #764abc;
}
 .dt-loader:not(:required) {
     background: #764abc;
     height: 13px;
     width: 13px;
     -webkit-border-radius: 30%;
     border-radius: 30%;
     -webkit-animation: loader 1s 150ms infinite ease-out;
     animation: loader 1s 150ms infinite ease-out;
}
 .dt-loader:not(:required):after, .dt-loader:not(:required):before {
     background: #764abc;
     height: 13px;
     width: 13px;
     -webkit-border-radius: 30%;
     border-radius: 30%;
}
 body .modal-backdrop.fade.in {
     z-index: -1 !important;
}
 body .modal.fade.in {
     background: #333;
     opacity: 1;
     background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
     background: linear-gradient(to bottom, #9480dd, #e4d6ff);
}
 body.viewinvoice #wrapper, body.viewproposal #wrapper, body.viewestimate #wrapper {
     margin-left: 0px !Important;
}
 #invoice_top_info .panel-body {
     background: #ffffff;
}
 @-webkit-keyframes loader {
     0% {
         background: #764abc;
    }
     10% {
         background: #c5c5c5;
    }
     40% {
         background: #764abc;
    }
}
 @keyframes loader {
     0% {
         background: #764abc;
    }
     10% {
         background: #c5c5c5;
    }
     40% {
         background: #764abc;
    }
}
 @media (max-width: 768px) {
     body ul.mobile-icon-menu .dropdown-menu.started-timers-top {
         right: -58px;
         left: auto;
    }
     body ul.mobile-icon-menu .dropdown-menu {
         right: -25px;
         left: auto;
         margin-top: 1px;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
    }
     body ul.search-results {
         border-radius: 0;
    }
     #top_search_dropdown {
         width: 320px;
         border-radius: 0;
    }
     #top_search input:active, #top_search input:focus, #top_search input:hover {
         background: #f2f2f2;
    }
     #top_search_button i:before {
         color: #dedede;
    }
     #top_search input {
         color: #000000;
         background: #f6f6f6;
    }
     .content {
         padding: 15px 15px 15px 15px;
    }
     #menu, #setup-menu-wrapper {
         left: 0;
    }
     ul.mobile-icon-menu>li:last-child {
         border: none;
    }
     ul.mobile-icon-menu>li {
         border: none;
         position: relative;
    }
}
/* RTL CSS Support */
 body.rtl.page-small:not(.show-sidebar):not(.hide-sidebar) #wrapper, body.rtl.page-small:not(.show-sidebar):not(.hide-sidebar) #header {
     right: 0;
     width: auto;
}
 body.rtl .fa-balance-scale:before {
     margin-right: -5px;
}
 body.rtl #wrapper {
     -webkit-transition: all .5s ease 0s;
     transition: all .5s ease 0s;
}
 body.rtl #top_search {
     margin-right: 0px;
}
 body.rtl .screen-options-area {
     margin-top: 18px;
     margin-left: auto;
     width: calc(100% - 46px);
     height: 100%;
     margin-right: 25px;
}
 body.rtl.hide-sidebar:not(.show-sidebar) #menu {
     right: 0;
}
 body.rtl.hide-sidebar:not(.show-sidebar) #wrapper {
     margin-left: 0;
}
 body.rtl.hide-sidebar #header {
     left: 0px;
     width: 100%;
}
 body.rtl.dashboard #wrapper, body.rtl.dashboard.show-sidebar.page-small #wrapper {
     margin: 0 210px 0 0;
     -webkit-transition: all .5s ease 0s;
     transition: all .5s ease 0s;
}
 body.rtl.page-small #menu {
     -webkit-transition: all .5s ease 0s;
     transition: all .5s ease 0s;
     margin-right: -210px;
}
 body.rtl.page-small:not(.show-sidebar):not(.hide-sidebar) {
     margin: 0 0 0 0px;
}
 body.rtl.page-small #wrapper {
     margin-left: -1px;
}
 body.rtl.page-small.show-sidebar #menu {
     margin-right: 0;
}
 body.rtl.page-small.show-sidebar #wrapper {
     margin-left: 0px;
}
 body.rtl #menu, body.rtl #setup-menu-wrapper {
     position: fixed;
     top: 0;
     left: auto;
     height: 100vh;
}
 body.rtl #header {
     position: relative;
     left: -211px;
     width: calc(100% - 212px);
     box-shadow: none !important;
}
 body.rtl #wrapper .btn-bottom-toolbar {
     -webkit-box-shadow: 0 2px 30px 2px rgba(0,0,0,.1) !important;
     box-shadow: 0px 2px 30px 2px rgba(0,0,0,.1) !important;
     padding: 15px;
     background: #fff;
     width: auto;
     z-index: 5;
     margin: 0 auto;
     border-top: 1px solid #ededed;
     left: 45px;
     right: auto;
}
 button.btn-tr.btn.btn-info.invoice-form-submit.transaction-submit.waves-effect.waves-effect.waves-light.waves-ripple, button.btn.btn-info.dropdown-toggle.waves-effect.waves-effect.waves-light.waves-ripple {
     border-radius: 0px !important;
}
 body.app.admin.clients.user-id-1.safari.mobile.page-small.show-sidebar #wrapper {
     display: none !important;
}
 @media (min-width: 768px) {
     body.rtl .navbar-right .dropdown-menu {
         left: -1px;
         right: auto;
    }
     li#top_search_button {
         width: 42px;
         height: 42px;
         border: none;
         position: relative;
         z-index: 2;
         top: 10px;
         cursor: pointer;
         transition: all 0.3s ease-in-out;
         background: rgba(0,0,0,0.06);
         border-radius: 30px;
    }
     #top_search_button button {
         width: auto;
         padding-left: 11px;
         bottom: 12px;
    }
     #top_search_button i.fa.fa-remove {
         color: #764abc;
         padding-left: 2px;
    }
}
 @media (max-width: 768px) {
     body.rtl .dropdown i.fa-gavel {
         position: relative;
         left: -138px;
    }
     body.rtl.show-sidebar #header {
         left: 0;
         width: 100%;
         right: 211px;
    }
     body.rtl.page-small.show-sidebar #wrapper {
         margin-left: 0px;
         left: 0;
         margin-right: 220px !important;
    }
     body.rtl #menu, body.rtl #setup-menu-wrapper {
         right: 0px;
         overflow: auto;
    }
}
@media (max-width: 735px) {
	.dashboard .content {
		padding: 30px 0px 0px 0px;
	}
	.screen-options-btn {
		left: 5px;
	}
	.show-sidebar #wrapper {
		display: none;
	}
	body.hide-sidebar .screen-options-area,
	body.rtl.hide-sidebar .screen-options-area {
		width: 86.2vw !important;
	}
	body.rtl.hide-sidebar .screen-options-area {
		width: 86.2vw !important;
	}
	html body.rtl #header {
		width: 100%;
		left: 0;
		right: 200px;
	}
	body.rtl.page-small.hide-sidebar #header {
		width: 100%;
		right: 0;
	}
	body.rtl.show-sidebar,
	body.rtl.show-sidebar #wrapper,
	html+body.rtl.show-sidebar {
		overflow-x: hidden;
		left: 0;
	}
	body.rtl.page-small.show-sidebar #wrapper {
		margin-right: 201px !important;
	}
	body.show-sidebar #wrapper {
		overflow-y: initial;
	}
	body #wrapper #project_file_data #project-file-discussion .profile-picture,
	body #wrapper #project_file_data #project-file-discussion .name,
	body #wrapper #project_file_data #project-file-discussion .content {
		color: #333 !important;
	}
	body #wrapper #project-file-discussion ul.navigation {
		background: #fff !important;
	}
	body #project-file-discussion .comment-wrapper,
	body #wrapper #project-file-discussion #comment-list,
	body #wrapper #project-file-discussion .child-comments,
	body #wrapper #project-file-discussion .commenting-field {
		background: #fff !important;
		border-radius: 5px !important;
	}
	body #project_file_data .project_file_discusssions_area {
		height: auto !important;
	}
	body #project-file-discussion.jquery-comments ul.main li.comment .wrapper .content,
	body #project-file-discussion .action.reply,
	body #project-file-discussion .delete.enabled,
	body #project-file-discussion .update.save,
	body #project-file-discussion .action.edit {
		color: #333 !important;
	}
	body .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"],
	body .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"] .jquery-comments ul.navigation li[data-container-name="comments"]:hover {
		color: #312f2f !important;
	}
	body .project_file_discusssions_area .jquery-comments ul.navigation li.active,
	.jquery-comments ul.navigation li:hover {
		color: #1666d0 !important;
	}
	body #project-file-discussion .control-row .send.save {
		background: #fefefe !important;
		color: #333 !important;
		margin-bottom: 11px !important;
		margin-right: 11px !important;
	}
	body #wrapper .project_file_area {
		max-height: 580px !important;
		height: auto !important;
	}
}